h1  {
    margin: 24px 0 24px 0;
}

.messages p {
    margin: 6px 0px 6px 25px;
    color:purple;
}

.messages p strong {
    margin-left: -25px;
    color: #666;
}

#messagename {
    color: blue
}

#thetimestamp{
    color: #999;
    font-size:10px
}





.verticle-center{
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:100px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}