

.verticle-center{
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
}


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.col-fixed {
    /* custom width */
    width:320px;
}
.col-min {
    /* custom min width */
    min-width:100px;
}
.col-max {
    /* custom max width */
    max-width:320px;
}